package main

import "github.com/transform-ia/gokit"

type {{.CommandName}}Config struct {
	// Add config fields with envconfig + validator tags
}

func run{{.CommandName}}(ctx *gokit.Context[{{.CommandName}}Config]) error {
	ctx.Logger.Ctx(ctx).Info("{{.CommandName}} starting")
	return nil
}
