package main

import "github.com/transform-ia/gokit"

func main() {
	gokit.Run(gokit.App{
		Name:  "{{.AppName}}",
		Short: "{{.AppDescription}}",
		Commands: []gokit.Command{
			// Add commands here
		},
	})
}
