  lint-go:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/transform-ia/golang-image:<<GOLANG_IMAGE_TAG>>
      options: --user 0
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GH_PAT }}
    steps:
      - uses: actions/checkout@v4

      - name: Lint Go
        run: golangci-lint run ./...

      - name: Test Go
        run: go test -v -race ./...

